<form {{on "submit" (fn this.submit)}} ...attributes>
  <label class="flex">
    <span class="flex-initial">Title:</span>
    {{input class="w-full flex-auto pl-2" value=@book.title placeholder="Some book title"}}
  </label>

  {{yield}}
</form>
