<form {{on "submit" (fn this.submit)}} ...attributes>
  <label>
    <span class="text-grey-dark font-bold">Title:</span>
    {{input class="w-full" value=@book.title placeholder="Some book title"}}
  </label>

  {{yield}}
</form>
